.Normal_text {font-family:'Nunito';font-weight:normal;font-style:normal;font-size:14px;text-decoration:none;color:#585858;background-color:Transparent;letter-spacing:0em;}
.FruitHeader1 {font-family:'Ostrich Sans Black';font-weight:900;font-size:38.2px;color:#FFFFFF;}
.Heading_1 {font-family:'Nunito';font-weight:normal;font-style:normal;font-size:36px;text-decoration:none;color:#585858;background-color:Transparent;letter-spacing:0em;}
.Heading_3 {font-family:'Nunito';font-weight:normal;font-style:normal;font-size:16px;text-decoration:none;color:#000000;background-color:Transparent;letter-spacing:0em;}
.Heading_4 {}
